input {
  height: 1.5rem;
  width: 20rem;
  border: none;
  border-radius: 5px;
}

.drink-container-text {
  z-index: 3;
  position: absolute;
  background-color: #bcb8b1e5;
  width: 20.2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.drink-text h4 {
  margin-left: 1rem;
  color: rgb(70, 63, 58);
  cursor: pointer;
}
#comment-input {
  text-align: justify;
}
.details-container {
  margin: 2rem;
}
.details-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.details-body {
  display: flex;
  background-color: #bcb8b1;
  color: #f4f3ee;
  padding-top: 2rem;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.details-img {
  height: 20rem;
}
.details-text {
  margin-left: 7rem;
}
.details-ingredients {
  display: flex;
  justify-content: space-between;
}
.reviews-container {
  display: flex;
}

svg {
  color: rgb(255, 157, 0);
  margin-right: 0.5rem;
}
.rating-popup-true {
  padding-left: 1.5%;
  left: 35%;
  width: 30%;
  height: 19.5rem;
  background-color: #463f3a;
  position: absolute;
  border-radius: 5px;
}
.rating-popup-true input {
  width: 80%;
  border-radius: 0px;
}
.star-container {
  position: relative;
}
.star-container input {
  width: 12rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
}

#comment-input {
  height: 5rem;
}
#close-rating {
  border: none;
  background-color: transparent;
  margin: 0.5rem;
  float: right;
  color: #463f3a;
}
#close-rating:hover {
  background-color: rgba(214, 21, 21, 0.713);
}
.rating-popup-true p {
  margin-top: 2rem;
  color: black;
}
.rating-popup-false {
  display: none;
}
