body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  opacity: 1;
  background: linear-gradient(135deg, #fcfcc755 25%, transparent 25%) -6px 0/
      12px 12px,
    linear-gradient(225deg, #f4f3ee 25%, transparent 25%) -6px 0/ 12px 12px,
    linear-gradient(315deg, #f4f3ee55 25%, transparent 25%) 0px 0/ 12px 12px,
    linear-gradient(45deg, #f4f3ee 25%, #ffffff 25%) 0px 0/ 12px 12px;
  color: rgb(70, 63, 58);
}
a {
  color: rgb(70, 63, 58);
  text-decoration: none;
}
input:focus {
  outline: none !important;
}
img {
  height: 15rem;
  border-radius: 5px;
}

h2 {
  margin-left: 0.5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
